@model IEnumerable<SRSWepApp.Models.CourseSignUp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseOffering.CRN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.UserFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradePoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LetterGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignUpDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseOffering.CRN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.UserFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradePoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LetterGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignUpDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseSignUpId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseSignUpId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseSignUpId })
        </td>
    </tr>
}

</table>
